<html>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/collapse.js"></script>
  <script src="js/transition.js"></script>
  <script src="js/combo.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="js/dateTime.js"></script>
  <script src="js/chart.min.js"></script>
  <script src="js/chartAnimation.js"></script>
  <script src="js/chartist-plugin-threshold.js"></script>
  <script src="js/lineAnimation.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
  <script src="js\dependencies\sails.io.js" charset="utf-8"></script>
  <script src="js/bootstrap-select.js" ></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="styles/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
  <link href="styles/dateTime.css" rel="stylesheet">
  <link href="styles/combo.css" rel="stylesheet">
  <link href="styles/chart.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/axisPlugin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="styles/bootstrap-select.css">
  <link rel="stylesheet" href="styles/patch.css">
  <style media="screen">
  #chartX {
    border-radius: 100px;
    padding-top: 10px;
  }
  /*
  Make bootstrap-select work with bootstrap 4 see:
  https://github.com/silviomoreto/bootstrap-select/issues/1135
  */
  .dropdown-toggle.btn-default {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
  }
  .bootstrap-select.show > .dropdown-menu > .dropdown-menu {
  display: block;
  }
  .bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
  display: none;
  }
  .bootstrap-select > .dropdown-menu > .dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  text-decoration: none;
  }
  .bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
  background-color: #f4f4f4;
  }
  .bootstrap-select > .dropdown-toggle {
  width: 100%;
  }
  .dropdown-menu > li.active > a {
  color: #fff !important;
  background-color: #337ab7 !important;
  }
  .bootstrap-select .check-mark {
  line-height: 14px;
  }

  .bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis;
  }

  /* Make filled out selects be the same size as empty selects */
  .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline !important;
  }

  </style>
  <title>Anton</title>
  <body class="container" background='images/grey.png' >
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <span class="oi oi-home" title="Home" aria-hidden="true"/>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/task">
        <span class="fa fa-tasks" title="Task" aria-hidden="true"/>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/filter">
        <span class="fa fa-filter" title="Filter" aria-hidden="true"/>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/chartFilter">
        <span class="fa fa-chart-pie" title="Charts" aria-hidden="true"/>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/chartFilterLine">
        <span class="fa fa-chart-line" title="Charts" aria-hidden="true"/>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/logout">
        <span class="fa fa-sign-out-alt" title="logout" aria-hidden="true"/>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/allowAdmin">
        <span class="fa fa-user-secret" title="sudo" aria-hidden="true"/>
      </a>
    </li>
  </ul>
  <br/>
  <br/>
  <div class="row">
    <div class="col-lg-6">
      <h1><span class="badge badge-default form form-control form-input">Task Filters </span></h1>
      <form class="form" action="/chartFilter" method="post" id='chartForm'>
      <!-- filter Data -->
        <div class="row">
          <div class="col-lg-6">
            <!-- button for filter -->
            <button type="submit" style="margin-bottom:5px" class="form form-control btn btn-success"> Filter
              <span class="fa fa-filter" title="Filter" aria-hidden="true"/>
            </button>
            <!-- group selection -->

            <div class=" form form-control">
              <p class='text-align: center;margin-top : 1px'>Grouping Criterion</p>
              <select name = "groupBy" class="selectpicker show-tick form form-control "  style="margin-bottom:1px" >
                  <!-- <option value="" ></option> -->
                  <option value="severity" > Severity</option>
                  <option value="taskType" > Task Type</option>
                  <option value="status" > Status </option>
                  <option value="area" > Area</option>
                  <option value="app" > Application</option>
                  <option value="username" > User</option>
              </select>
            </div>
            <!-- task type selection -->
            <div class="form form-control " style="margin-bottom:5px" >
              <p class='text-align: center;margin-top : 1px'>Task Type</p>
              <select name = "taskType" class="selectpicker show-tick form form-control " data-actions-box="true" title="Select Task Types..." style="margin-bottom:1px" multiple>
                <% for( var i = 0; i < tasktypes.length;i++){ %>
                  <option value="<%= tasktypes[i].taskType %>"> <%= tasktypes[i].taskType %> </option>
                  <% } %>
              </select>
            </div>


            <!-- status selection -->
            <div class="  form form-control " style="margin-bottom:5px" >
              <p class='text-align: center;margin-top : 1px'>Status</p>
              <select name = "status" class="selectpicker show-tick form form-control " data-actions-box="true" title="Select Status..."  style="margin-bottom:1px" multiple>
              <% for( var i = 0; i < status.length;i++){ %>
                  <option value="<%= status[i].status %>"  > <%= status[i].status %>  </option>
                <% } %>
              </select>
            </div>

            <!-- Severity Selection -->
            <div class=" form form-control " style="margin-bottom:5px" >
              <p class='text-align: center;margin-top : 1px'>Severity</p>
              <select name = "severity" class="selectpicker show-tick form form-control " data-actions-box="true" title="Select Severity..." style="margin-bottom:1px" multiple>
              <% for( var i = 0; i < severity.length;i++){ %>
                  <option value="<%= severity[i].severity %>"  > <%= severity[i].severity %>  </option>
                <% } %>
              </select>
            </div>
            <!-- Application Selection -->
            <div class=" form form-control " style="margin-bottom:5px" >
              <p class='text-align: center;margin-top : 1px'>Application</p>
              <select name = "app" class="selectpicker show-tick form form-control " data-actions-box="true" title="Select Application..." style="margin-bottom:1px" multiple>
              <% for( var i = 0; i < app.length;i++){ %>
                  <option value="<%= app[i].app %>"  > <%= app[i].app %>  </option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- user selection -->
            <div class="form form-control " style="margin-bottom:5px" >
              <p class='text-align: center;margin-top : 1px'>Users</p>
              <select name = "username" class="selectpicker show-tick form form-control " data-actions-box="true" title="Select Username.." style="margin-bottom:1px" multiple>
              <% for( var i = 0; i < users.length;i++){ %>
                  <option value="<%= users[i].username %>"  > <%= users[i].username %>  </option>
                <% } %>
              </select>
            </div>
            <!-- Area Selection -->
            <div class=" form form-control " style="margin-bottom:5px" >
              <p class='text-align: center;margin-top : 1px'>Area</p>
              <select name = "area" class="selectpicker show-tick form form-control " data-actions-box="true" title="Select Area..." style="margin-bottom:1px" multiple>
              <% for( var i = 0; i < areas.length;i++){ %>
                  <option value="<%= areas[i].area %>"  > <%= areas[i].area %>  </option>
                <% } %>
              </select>
            </div>
            <!-- Date selection -->
            <div class="card jumbotron">
              <p class="lead"> Select Completion Date Range</p>
              <label> From Date</label>
              <div class='input-group date' id='datetimepicker1' style="margin-bottom:5px" >
                <!-- <input type='text' class="form form-control form-input" required="true" placeholder="Completion Date" name="workDate"/> -->
                <input class="datepicker form form-control form-input" data-date-format="dd/mm/yyyy" placeholder="From Date" name="fromDate"/>
                <span class="input-group-addon">
                  <span class="fa fa-calendar-plus"></span>
                </span>
              </div>
              <label> Till Date</label>
              <div class='input-group date' id='datetimepicker2' style="margin-bottom:1px" >
                <!-- <input type='text' class="form form-control form-input" required="true" placeholder="Completion Date" name="workDate"/> -->
                <input class="datepicker form form-control form-input" data-date-format="dd/mm/yyyy" placeholder="To Date" name="tillDate"/>
                <span class="input-group-addon">
                  <span class="fa fa-calendar-minus"></span>
                </span>
              </div>
            </div>
            <!-- Button Again -->
            <button type="submit" style="margin-top:8px" class="form form-control btn btn-success"> Filter
              <span class="fa fa-filter" title="Filter" aria-hidden="true"/>
            </button>
          </div>
        </div>
    </div>
    <div class="col-lg-6" >
      <div class="row">
        <% if ( Object.keys( chartData ).length != 0  ) { %>
          <div class="col-lg-8" >
            <div class="ct-chart" id = "chartX" style="position:relative;width:100%">
            </div>
          </div>
          <div class="col-lg-4" id="def">
            <!-- details Section  -->
            <div class="card-body ">
              <h4 class="card-title" style="margin-top : 6px" > Distribution </h4>
              <div id="distribution">
                <% for( var i = 0 ; i < chartData['label'].length ; i++){ %>
                  <p class="card-text" style="">
                    <%= chartData['label'][i] %> <span class="badge badge-primary"><%= chartData['series'][i] %></span>
                  </p>
                <% } %>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  </body>
  <script type="text/javascript">
    //$('.selectpicker').selectpicker();
    $('.selectpicker').selectpicker({
      //style : 'btn-info',
      size : 25,
      iconBase: 'fa',
      tickIcon: 'fa-check-circle'
    });
    $(document).ready( function () {
          $('.selectpicker').selectpicker({
            //style : 'btn-info',
            size : 25,
            iconBase: 'fa',
            tickIcon: 'fa-check-circle'
          });
    });
    //$('groupBy').selectpicker('refresh');
    $("#chartForm").submit(
      function(e) {
      var url = "/chartFilterAjax"; // the script where you handle the form input.
      $.ajax({
        type: "POST",
        url: url,
        data: $("#chartForm").serialize(), // serializes the form's elements.
        success: function(data)
        {
          if( data != undefined){
            //populate distribution..
            var chartData = data['chartData'];
            var labelAjax = chartData['label'];
            var $jobs = $('<div class=""></div>');
            for( var i = 0 ; i < chartData['label'].length ; i++){
              $jobs.append(`<p class="card-text" style="">`);
              $jobs.append(`${chartData['label'][i]}   <span class="badge badge-primary">${chartData['series'][i]}</span>`);
              $jobs.append(`<\p>`);
            }
            $('#distribution').html($jobs);

            //create Chart
            var chart = new Chartist.Pie('#chartX', chartData,{
              labelInterpolationFnc: function(value, idx) {
                var percentage = Math.round(value / chartData.series.reduce(sum) * 100) + '%';
                return chartData['label'][idx] + ' ' + percentage;
              },
              donut: true,
              showLabel: true
            });
            showAnimation(chart);
          }
        }
      });
      // $.ajax({
      //   type : "GET",
      //   url : "/defectChart",
      //   success : function ( defectData) {
      //     if( defectData != undefined ){
      //       var chartData = defectData['defectChart'];
      //
      //       //create Chart
      //       var chart = new Chartist.Line('#defectChartX', {
      //           labels: chartData['label'],
      //           series: [ chartData['series'] ]
      //         }, {
      //         showArea: true,
      //         axisY: {
      //           onlyInteger: true
      //         },
      //         low : 0,
      //         plugins: [
      //           // Chartist.plugins.ctThreshold({
      //           //   threshold: 4
      //           // })
      //         ]
      //       });
      //       lineAnimation(chart);
      //     }
      //   }
      // });
      e.preventDefault(); // avoid to execute the actual submit of the form.
    });
    <% if ( Object.keys( chartData ).length != 0  ) {%>
      var labelSev = [];
      var seriesXSev = [];
      <% for( var i = 0 ; i < chartData['label'].length ; i++){ %>
      labelSev.push( "<%= chartData['label'][i] %>");
      <% } %>
      <% for( var i = 0 ; i < chartData['series'].length; i++){ %>
      seriesXSev.push( parseInt("<%= chartData['series'][i] %>") );
      <% } %>
      var dataProdSev = {
        series: seriesXSev
      };
      var sum = function (a , b) { return a + b};
      var chart = new Chartist.Pie('#chartX', dataProdSev,{
        labelInterpolationFnc: function(value, idx) {
          var percentage = Math.round(value / dataProdSev.series.reduce(sum) * 100) + '%';
          return labelSev[idx] + ' ' + percentage;
        },
        donut: true,
        showLabel: true
      });
      showAnimation(chart);
    <% }%>
    $('.datepicker').datepicker({
      format: 'dd/mm/yyyy'
    });
    //.datepicker('setDate', new Date());

  </script>
</html>
